@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2r81n0');
  src:  url('../fonts/icomoon.eot?2r81n0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2r81n0') format('truetype'),
    url('../fonts/icomoon.woff?2r81n0') format('woff'),
    url('../fonts/icomoon.svg?2r81n0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add-block:before {
  content: "\e900";
}
.icon-add-line:before {
  content: "\e901";
}
.icon-add-line-2:before {
  content: "\e902";
}
.icon-all-line:before {
  content: "\e903";
}
.icon-arrow-line:before {
  content: "\e904";
}
.icon-assess-line:before {
  content: "\e905";
}
.icon-audio-line:before {
  content: "\e906";
}
.icon-back-line:before {
  content: "\e907";
}
.icon-bank-block:before {
  content: "\e908";
}
.icon-book-block:before {
  content: "\e909";
}
.icon-book-block-2:before {
  content: "\e90a";
}
.icon-book-block-3:before {
  content: "\e90b";
}
.icon-buy-block:before {
  content: "\e90c";
}
.icon-buy-line:before {
  content: "\e90d";
}
.icon-car-line:before {
  content: "\e90e";
}
.icon-check-block:before {
  content: "\e90f";
}
.icon-check-line:before {
  content: "\e910";
}
.icon-clear-block:before {
  content: "\e911";
}
.icon-clock-line:before {
  content: "\e912";
}
.icon-close-block:before {
  content: "\e913";
}
.icon-close-line:before {
  content: "\e914";
}
.icon-code-line:before {
  content: "\e915";
}
.icon-code-line-2:before {
  content: "\e916";
}
.icon-collect-block:before {
  content: "\e917";
}
.icon-collect-line:before {
  content: "\e918";
}
.icon-crown-block:before {
  content: "\e919";
}
.icon-date-block:before {
  content: "\e91a";
}
.icon-delete-block:before {
  content: "\e91b";
}
.icon-dollar-block:before {
  content: "\e91c";
}
.icon-download-line:before {
  content: "\e91d";
}
.icon-edit-line:before {
  content: "\e91e";
}
.icon-eye-block:before {
  content: "\e91f";
}
.icon-good-block:before {
  content: "\e920";
}
.icon-good-line:before {
  content: "\e921";
}
.icon-good-line-2:before {
  content: "\e922";
}
.icon-graph-line:before {
  content: "\e923";
}
.icon-graph-line-2:before {
  content: "\e924";
}
.icon-graph-line-3:before {
  content: "\e925";
}
.icon-groupbuy-line:before {
  content: "\e926";
}
.icon-group-line:before {
  content: "\e927";
}
.icon-heart-block:before {
  content: "\e928";
}
.icon-heart-block-2:before {
  content: "\e929";
}
.icon-heart-line:before {
  content: "\e92a";
}
.icon-home-block:before {
  content: "\e92b";
}
.icon-home-block-blue:before {
  content: "\e92c";
}
.icon-home-line:before {
  content: "\e92d";
}
.icon-info-block:before {
  content: "\e92e";
}
.icon-info-block-2:before {
  content: "\e92f";
}
.icon-info-block-3:before {
  content: "\e930";
}
.icon-info-line:before {
  content: "\e931";
}
.icon-invite-line:before {
  content: "\e932";
}
.icon-listen-line:before {
  content: "\e933";
}
.icon-manage-line:before {
  content: "\e934";
}
.icon-man-block:before {
  content: "\e935";
}
.icon-menu-line:before {
  content: "\e936";
}
.icon-menu-line-2:before {
  content: "\e937";
}
.icon-message-block:before {
  content: "\e938";
}
.icon-message-block-2:before {
  content: "\e939";
}
.icon-message-line:before {
  content: "\e93a";
}
.icon-money-line:before {
  content: "\e93b";
}
.icon-more-block:before {
  content: "\e93c";
}
.icon-more-line:before {
  content: "\e93d";
}
.icon-more-line-2:before {
  content: "\e93e";
}
.icon-p-ad:before {
  content: "\e93f";
}
.icon-p-arrow:before {
  content: "\e940";
}
.icon-p-banner:before {
  content: "\e941";
}
.icon-p-block-1:before {
  content: "\e942";
}
.icon-p-block-2:before {
  content: "\e943";
}
.icon-p-block-3:before {
  content: "\e944";
}
.icon-p-block-4:before {
  content: "\e945";
}
.icon-p-block-5:before {
  content: "\e946";
}
.icon-p-block-6:before {
  content: "\e947";
}
.icon-p-block-7:before {
  content: "\e948";
}
.icon-p-block-8:before {
  content: "\e949";
}
.icon-p-block-9:before {
  content: "\e94a";
}
.icon-p-block-10:before {
  content: "\e94b";
}
.icon-p-block-11:before {
  content: "\e94c";
}
.icon-p-block-12:before {
  content: "\e94d";
}
.icon-p-block-13:before {
  content: "\e94e";
}
.icon-p-card:before {
  content: "\e94f";
}
.icon-p-delete:before {
  content: "\e950";
}
.icon-people-block:before {
  content: "\e951";
}
.icon-people-line:before {
  content: "\e952";
}
.icon-people-line-2:before {
  content: "\e953";
}
.icon-personal-block:before {
  content: "\e954";
}
.icon-personal-line:before {
  content: "\e955";
}
.icon-p-help:before {
  content: "\e956";
}
.icon-photo-block:before {
  content: "\e957";
}
.icon-p-img:before {
  content: "\e958";
}
.icon-p-light:before {
  content: "\e959";
}
.icon-p-more .path1:before {
  content: "\e95a";
  color: rgb(0, 150, 136);
}
.icon-p-more .path2:before {
  content: "\e95b";
  margin-left: -1.9052734375em;
  color: rgb(178, 223, 219);
}
.icon-p-right:before {
  content: "\e95c";
}
.icon-p-search:before {
  content: "\e95d";
}
.icon-p-store:before {
  content: "\e95e";
}
.icon-quality-block:before {
  content: "\e95f";
}
.icon-radio-block:before {
  content: "\e960";
}
.icon-radio-block-2:before {
  content: "\e961";
}
.icon-radio-line:before {
  content: "\e962";
}
.icon-radio-line-2:before {
  content: "\e963";
}
.icon-recommend-line:before {
  content: "\e964";
}
.icon-report-line:before {
  content: "\e965";
}
.icon-reset-line:before {
  content: "\e966";
}
.icon-ruler-block:before {
  content: "\e967";
}
.icon-screen-line:before {
  content: "\e968";
}
.icon-search-line:before {
  content: "\e969";
}
.icon-set-line:before {
  content: "\e96a";
}
.icon-seven-block:before {
  content: "\e96b";
}
.icon-share-line:before {
  content: "\e96c";
}
.icon-share-line-2:before {
  content: "\e96d";
}
.icon-shop-block:before {
  content: "\e96e";
}
.icon-shop-line:before {
  content: "\e96f";
}
.icon-shop-line-2:before {
  content: "\e970";
}
.icon-shop-line-3:before {
  content: "\e971";
}
.icon-shut-line:before {
  content: "\e972";
}
.icon-sort-block:before {
  content: "\e973";
}
.icon-sort-line:before {
  content: "\e974";
}
.icon-sound-line:before {
  content: "\e975";
}
.icon-store-line:before {
  content: "\e976";
}
.icon-store-line-2:before {
  content: "\e977";
}
.icon-sub-line:before {
  content: "\e978";
}
.icon-suspend-line:before {
  content: "\e979";
}
.icon-tel-block:before {
  content: "\e97a";
}
.icon-time-line:before {
  content: "\e97b";
}
.icon-top-block:before {
  content: "\e97c";
}
.icon-wallet-block:before {
  content: "\e97d";
}
.icon-wallet-line:before {
  content: "\e97e";
}
.icon-wallet-line-2:before {
  content: "\e97f";
}
.icon-weixin-block:before {
  content: "\e980";
}
.icon-woman-block:before {
  content: "\e981";
}
.icon-write-line:before {
  content: "\e982";
}
.icon-write-line-2:before {
  content: "\e983";
}

